.Teamtasks {
    flex: 5;
    background-image: linear-gradient(rgb(103, 88, 203), rgb(215, 210, 252));
}

.taskWrapper {
    display: flex;
    justify-content: space-around;
}

.taskBox {
    width: 30%; 
    margin: 15px 30px;
    color: rgb(47, 41, 90);
    padding: 10px;
    border-radius: 12px;
    background-color: rgb(200, 192, 250);
    box-shadow: 1px 3px 10px;
}

.task {
    color: black;
    border-radius: 8px;
    margin: 15px 10px;
    padding: 7px;
    background-color: white;
    font-size: 18px;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(103, 88, 203);
}

.title {
    display: flex;
    align-items: center;
}

.title h4 {
    margin-right: 5px;
}

.title div {
    font-size: 16px;
}

.to {
    display: flex;
    align-items: center;
}

.to h4 {
    margin-right: 5px;
}

.to div {
    font-size: 16px;
}

.desc {
    margin-left: 5px;
    font-size: 16px;
}

.stat {
    display: flex;
    align-items: center;
}

.stat h4 {
    margin-right: 5px;
}

.stat div {
    font-size: 16px;
}

.task button {
    margin-top: 7px;
    border-radius: 8px;
    border-style: none;
    font-size: 16px;
    padding: 5px;
    background-color: rgb(103, 88, 203);
    color: white;
    cursor: pointer;
}

.task button:hover {
    background-color: darkslateblue;
}