* {
    padding: 0;
}

.Teamtasks {
    flex: 5;
    height: 93.5vh;
    background-image: linear-gradient(rgb(103, 88, 203), rgb(215, 210, 252));
}

.taskWrapper {
    display: flex;
    justify-content: space-around;
}

.taskBox {
    font-size: 2.25vmin;
    width: 30%; 
    margin: 1.5vmin;
    color: rgb(15, 10, 50);
}

.task {
    color: black;
    border-radius: 1.25vmin;
    box-shadow: 0 .25vmin 1.5vmin;
    margin-top: 1vh;
    margin-bottom: 3vh;
    padding: 1.25vmin;
    background-color: white;
    font-size: 2.5vmin;
    border-style: solid;
    border-width: .4vmin;
    border-color: rgb(103, 88, 203);
    font-weight: 600;
}

.title {
    display: flex;
    align-items: center;
}

.title h4 {
    margin-right: .5vw;
}

.title div {
    font-size: 2.25vmin;
}

.to {
    display: flex;
    align-items: center;
}

.to h4 {
    margin-right: .5vw;
}

.to div {
    font-size: 2.25vmin;
}

.desc {
    font-size: 2.25vmin;
}

.stat {
    display: flex;
    align-items: center;
}

.stat h4 {
    margin-right: .5vw;
}

.stat div {
    font-size: 2.25vmin;
}

.task button {
    margin-top: 1vh;
    border-radius: 1.25vmin;
    border-style: none;
    font-size: 2.25vmin;
    padding: .75vmin;
    background-color: rgb(103, 88, 203);
    color: white;
    cursor: pointer;
}

.task button:hover {
    background-color: darkslateblue;
}