.topbar {
    width: 100vw;
    height: 5vh;
    background-color: rgb(230, 230, 230);
    position: relative;
}

.topbarWrapper {
    height: 100%;
    width: 100%;
    padding-left: .75vw;
    padding-right: 1.5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoName {
    font-size: 4vh;
    font-weight: bold;
    color: darkslateblue;
    cursor: pointer;
}

.profile {
    display: flex;
    align-items: center;
}

.profileIcon {
    color: darkslateblue;
    margin-right: .25vw;
}

.userName {
    font-size: 2vh;
    font-weight: 600;
    color: rgb(70, 70, 70);
}
