.topbar {
    width: 100%;
    height: 40px;
    background-color: rgb(210, 210, 210);
    position: relative;
}

.topbarWrapper {
    height: 100%;
    padding: 0px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.logoName {
    font-weight: bold;
    font-size: 25px;
    color: darkslateblue;
    cursor: pointer;
}

.profile {
    display: flex;
    align-items: center;
}

.profileIcon {
    color: darkslateblue;
    margin-right: 5px;
}

.userName {
    font-size: 14px;
    font-weight: 600;
    color: rgb(70, 70, 70);
}
