.member {
    display: flex;
    place-items: center;
    justify-content: space-between;
    padding: 5px 25px;
    margin: 3px;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    background-color: white;
}

.assignBtn {
    background-color: rgb(103, 88, 203);
    color: white;
    border-radius: 8px;
    border-style: none;
    cursor: pointer;
}

.removeBtn {
    background-color: rgb(255, 0, 0);
    border-radius: 8px;
    border-width: 1px;
    border-style: none;
    color: white;
    cursor: pointer;
}
