.Teamsettings {
    flex: 5;
    background-image: linear-gradient(rgb(103, 88, 203), rgb(215, 210, 252));
}

.box {
    display: flex;
    align-items: center;
    margin: 2vmin;
    font-size: 2.5vmin;
}

.Teamsettings button {
    margin-left: 2vmin;
    background-color: rgb(255, 50, 50);
    border-radius: .75vmin;
    border-style: none;
    color: white;
    cursor: pointer;
    padding: 1vh 1vw;
    font-size: 2vmin;
}

.Teamsettings button:disabled {
    background-color: rgb(177, 177, 177);
    color: gray;
    cursor: default;
}
