.owner {
    display: flex;
    place-items: center;
    justify-content: space-between;
    padding: 5px 25px;
    margin: 3px;
    border-style: none;
    border-width: 1px;
    border-radius: 4px;
    background-color: rgb(230, 230, 230);
}

.owner button {
    background-color: rgb(103, 88, 203);
    color: white;
    border-radius: 8px;
    border-style: none;
    cursor: pointer;
}
