.user {
    display: flex;
    justify-content: space-between;
    padding: .75vh 1.5vw;
    margin: .5vmin;
    border-style: solid;
    border-radius: .75vmin;
    place-items: center;
    background-color: rgb(230, 230, 230);
    border-width: .2vmin;
    border-color: gray;
    font-weight: 600;
    font-size: 2vmin;
}

.user button {
    background-color: rgb(20, 215, 20);
    color: white;
    border-radius: .75vmin;
    border-style: none;
    border-color: green;
    cursor: pointer;
    padding: .5vh 1vw;
    font-size: 2vmin;
}
