.searchInputs {
    margin-top: 2vh;
    display: flex;
    justify-content: center;
  }
  
  .search input {
    background-color: white;
    border: 0;
    border-radius: .75vmin;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    font-size: 2.25vmin;
    padding: .75vmin;
    height: 5vh;
    width: 30vw;
  }
  
  .searchIcon {
    height: 5vh;
    width: 3vw;
    background-color: white;
    display: grid;
    place-items: center;
    border-radius: .75vmin;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  input:focus {
    outline: none;
  }
  .searchIcon svg {
    font-size: 3.5vmin;
  }

.data {
  display: flex;
  justify-content: center;
}

.dataResult {
  margin-top: .6vh;
  width: 33vw;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0 .25vmin 1.5vmin;
  overflow: hidden;
  overflow-y: auto;
  border-radius: .75vmin;
}

.dataResult::-webkit-scrollbar {
  display: none;
}
