.searchInputs {
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }
  
  .search input {
    background-color: white;
    border: 0;
    border-radius: 4px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 18px;
    padding: 5px;
    height: 30px;
    width: 450px;
  }
  
  .searchIcon {
    height: 30px;
    width: 50px;
    background-color: white;
    display: grid;
    place-items: center;
    border-radius: 4px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  
  input:focus {
    outline: none;
  }
  .searchIcon svg {
    font-size: 35px;
  }

.data {
  display: flex;
  justify-content: center;
}

.dataResult {
  margin-top: 5px;
  width: 500px;
  height: 200px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
  border-radius: 4px;
}

.dataResult::-webkit-scrollbar {
  display: none;
}
